.float-left {
    float       : left;
    padding     : 0 20px 20px 0;
    display     : inline-block;
}

.float-right {
    float       : right;
    padding     : 0 0 20px 20px;
    display     : inline-block;
}

.float-center {
    display     : inline-block;
    margin      : 0 auto;
    text-align  : center;
}

td {
    vertical-align  : top;
}

blockquote:after {
    content     : ".";
    display     : block;
    height      : 0;
    clear       : both;
    visibility  : hidden;
}

blockquote {
    margin-bottom   : 24px;
}